@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    height: 250vh;
    margin: 0;
    overflow-x: hidden;
    background: linear-gradient(to bottom right, orange, white, black);
}

.container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.btn {
    display:flex;
    flex-direction:row;
}

.container p {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h1 {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container iframe {
    overflow:hidden !important;
    position: absolute;
    display:none;
}

#dbd,
#val,
#fort,
#osu,
#ro {
    width:60vw;
    height:60vw;
}

.frame {
    width:60vw;
    height:60vw;
}

.container button {
    height: 35px;
    padding: 4px;
    cursor: pointer;
    background: transparent;
}

nav {
    height: 80px;
    background: rgb(240, 156, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0 1.5rem;
}

@media screen and (max-width:80vw){
    body {
        height: auto;
    }
}