@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    height: 380vh;
    margin: 0;
    overflow-x: hidden;
    background: linear-gradient(to bottom right, orange, white, black);
}

.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container p.intro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container p.indent {
    padding-left: 200px;
    padding-right: 200px;
    text-indent: 30px;
}

.btn {
    display: flex;
    position: absolute;
    top: 3%;
    left: 3%;
    scale: 1.5;
    opacity: 1;
    z-index: 1;
    cursor: pointer;
    background: transparent;
}

nav {
    height: 80px;
    background: rgb(240, 156, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0 1.5rem;
}